<%- include('../partials/header', { title: 'Login', stylesheet: '/css/styleLogin.css' }) %>

  <h2>Recuperar Contrase침a</h><br>
  <form action="/sesions/forgot-password" method="POST">
   <div> <label for="email">Correo Electr칩nico:</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="newPassword">Nueva Contrase침a:</label>
    <input type="password" id="newPassword" name="newPassword" required>
  </div>
    <button type="submit">Recuperar Contrase침a</button>
  </form>


<%- include('../partials/footer') %>
