<%- include('partials/header', { title: 'Home', stylesheet: '/css/styleIndex.css' }) %>

<h1>Sistema de Control de Ventas de Tortas</h1>
<a href="/sesions/login">Login</a>

<%- include('partials/footer') %>
